<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Card Template</title>
    <link rel="stylesheet" href="../css%20files/card.css">
</head>
<body>
    <div class="card">
        <div class="card-body">
            <img src="../../resources/images/default-featured-image.jpg" class="card-img-top" alt="Portada del torneo">
            <h4 class="card-title">Tipo de evento</h4>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit, nostra molestie curabitur at conubia accumsan, scelerisque dapibus velit gravida platea eros.</p>
            <a href="#" class="btn btn-primary">Más información</a>
        </div>
    </div>
</body>
</html>