<div class="container-createTeam">
  <form class="form-group" #form="ngForm" (ngSubmit)="onFormSubmit(form)">
    <label for="nequipo">Nombre del equipo</label>
    <input type="text" required minlength="3" id="nequipo" class="form-control" placeholder="Nombre" name="name" [(ngModel)]="team.name">

  <div class="form-group">
    <label for="nparts" >Nombre del usuario de los integrantes</label>
    <input type="text" id="nparts" class="form-control" placeholder="Nombres de los integrantes (separados por comas)" name="equipos" [(ngModel)]="team.participants">
  </div>

  <div class="form-group team-shield">
    <label>Escudo del equipo (opcional)</label>
    <input class="shield-input" type="text" [(ngModel)]="team.image" placeholder="Copia y pega el enlace a tu imagen" name="image"  required>
  </div>

  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-dark me-2">Guardar</button>
    <button type="button" class="btn btn-danger" (click)="cancel()">Cancelar</button>
  </div>

  </form>
</div>

