
  <div class="container d-flex align-items-center justify-content-center">
    <form #registerForm="ngForm" (ngSubmit)="onFormSubmit(registerForm)" id="register-form" class="tournament-creation-form m-2">

      <div class="input mb-3">
        <label for="user-name" class="form-label">Nombre de usuario</label>
        <input type="text" [(ngModel)]="formUser.username" name="username" #username="ngModel" required minlength="3" class="form-control" id="user-name" placeholder="Nombre de usuario">
      </div>
      <div *ngIf="username.invalid && registerForm.submitted" class="text-danger">
        <small *ngIf="username.errors?.['required']">El usuario es obligatorio.</small>
      </div>


      <div class="input mb-3">
        <label for="email" class="form-label">Correo electrónico</label>
        <input [(ngModel)]="formUser.email" id="email" name="email" #email="ngModel" required type="email" class="form-control" placeholder="name@example.com">
      </div>

      <div *ngIf="email.invalid && registerForm.submitted" class="text-danger">
      <small *ngIf="email.errors?.['required']">El email es obligatorio.</small>
      <!--small *ngIf="email.errors?.['pattern']">El email no es válido.</small!-->
      </div>

      <div class="input mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <div class="input-group mb-3">
          <input
            [(ngModel)]="formUser.password"
            name="password"
            #password="ngModel"
            [type]="showPassword ? 'text' : 'password'"
            required
            minlength="5"
            id="password"
            class="form-control"
            placeholder="Contraseña">
          <button class="btn btn-outline-light" type="button" (click)="togglePasswordVisibility('password')">
            <i class="fa-solid" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
          </button>
        </div>
      </div>

      <div *ngIf="password.invalid && registerForm.submitted" class="text-danger">
        <small *ngIf="password.errors?.['required']">Por favor, introduzca su contraseña.</small>
      </div>

      <div class="input mb-5">
        <label for="repeatPassword" class="form-label">Repetir contraseña</label>
        <div class="input-group mb-3">
          <input
            [(ngModel)]="formUser.repeatPassword"
            required
            name="repeatPassword"
            #repeatPassword="ngModel"
            [type]="showRepeatPassword ? 'text' : 'password'"
            id="repeatPassword"
            class="form-control"
            placeholder="Repetir contraseña">
          <button class="btn btn-outline-light" type="button" (click)="togglePasswordVisibility('repeatPassword')">
            <i class="fa-solid" [ngClass]="showRepeatPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
          </button>
        </div>

        <div *ngIf="repeatPassword.invalid && registerForm.submitted" class="text-danger">
          <small *ngIf="repeatPassword.errors?.['required']">Por favor, vuelva a introducir su contraseña.</small>
        </div>
        <div *ngIf="(repeatPassword.dirty || password.dirty) && isPasswordMismatch()" class="text-danger">
          <small>Las contraseñas deben coincidir.</small>
        </div>

      </div>



      <div class="container w-100 d-flex justify-content-center align-items-center">
          <button type="submit" class="btn btn-dark btn-lg">Registrarse</button>
      </div>

    </form>
  </div>
