<div class="container">
  <div class="card">
    <div class="card-header text-white text-center border">
      <div class="row">
        <div class="col"><img id="image" class="img-fluid rounded" src="../src/assets/images/default-featured-image.jpg" alt="">
        </div>
        <div class="col d-flex flex-column justify-content-center align-items-center">
          <div class="row">
            <p id="date"><strong>Fecha:</strong> --/--/----</p>
          </div>
          <div class="row">
            <p id="hour"><strong>Hora:</strong> 00:00</p>
          </div>
          <div class="row">
            <p><strong id="place">Lugar:</strong></p>
          </div>
        </div>
        <div class="col d-flex flex-column justify-content-center align-items-center">
          <div class="row">
            <p id="num-players"> 0/0</p>
          </div>
          <div class="row">
            <p id="entry-tax"> 0€</p>
          </div>
          <div class="row">
            <p id="prize-pool"> 0€</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title"><strong>Más info:</strong></h5>
      <p id="description" class="card-text"></p>
    </div>

    <div class="card-footer text-center">
      <div class="col">
        <p id="organizer" ><i class="fa fa-user"></i> Username</p>
      </div>
      <div class="col">
        <button class="btn btn-primary">Solicitar unirme</button>
      </div>
    </div>
  </div>
</div>
