<div class="match-container">
  <p class="text-light-date">Fecha del partido</p>
  <div class="d-flex justify-content-center align-items-center">
    <div class="team">
      <img src="../src/assets/images/default-featured-image.jpg" alt="Equipo 1">
      <p class="text-light">Equipo 1</p>
    </div>
    <input type="number" class="score mx-2 form-control" min="0">
    <span class="text-light-line">-</span>
    <input type="number" class="score mx-2 form-control" min="0">
    <div class="team">
      <img src="../src/assets/images/default-featured-image.jpg" alt="Equipo 2">
      <p class="text-light">Equipo 2</p>
    </div>
  </div>
</div>
