<main>
  <span class="all-cards-title">Partidos disponibles</span>
  <div id="matches-container" class="all-cards-container">
  </div>
</main>

<nav aria-label="...">
  <ul class="pagination justify-content-center">
    <li id="prevPage" class="page-item">
      <a class="page-link" href="#" tabindex="-1"> < </a>
    </li>
    <li class="page-item active">
      <a id="currentPageNumber" class="page-link">1 <span class="sr-only"></span></a>
    </li>

    <li id="nextPage" class="page-item">
      <a class="page-link" href="#"> > </a>
    </li>
  </ul>
</nav>
