<main>
  <span class="all-cards-title">Partidos disponibles</span>
  <div class="all-cards-container">
    <div class="card" *ngFor="let match of paginatedMatches">
      <img [src]="match.image || 'https://via.placeholder.com/300x160?text=Partido'" alt="{{ match.name }}" />
      <div class="card-body">
        <h3>{{ match.name }}</h3>
        <p>{{ match.description }}</p>
        <button class="btn-info" (click)="goToMatch(match.id!)">Más información</button>
      </div>
    </div>
  </div>
</main>

<nav aria-label="...">
  <ul class="pagination justify-content-center">
    <li class="page-item" [class.disabled]="currentPage === 1" (click)="prevPage()">
      <a class="page-link" href="#">‹</a>
    </li>

    <li class="page-item active">
      <a class="page-link">{{ currentPage }}</a>
    </li>

    <li class="page-item" [class.disabled]="currentPage === totalPages()" (click)="nextPage()">
      <a class="page-link" href="#">›</a>
    </li>
  </ul>
</nav>
