<div class="container">
  <div class="profile-header">
    <img [src]="userPhoto" id="user-picture"alt="Usuario" class="profile-img">
    <span id="username">Username</span>
  </div>

  <div class="main">
    <div class="sidebar">
      <ul>
        <li><a (click)="setActivePanel('data')" [ngClass]="{ 'active': isActive('data') }" class="sidebar-button">Datos personales</a></li>
        <li><a (click)="setActivePanel('teams')" [ngClass]="{ 'active': isActive('teams') }" class="sidebar-button">Mis equipos</a></li>
        <li><a (click)="setActivePanel('tournaments')" [ngClass]="{ 'active': isActive('tournaments') }" class="sidebar-button">Torneos</a></li>
        <li><a (click)="setActivePanel('matches')" [ngClass]="{ 'active': isActive('matches') }" class="sidebar-button">Partidos</a></li>
      </ul>
    </div>

    <div class="content">
      <h2 id="panel-name"></h2>
      <div id="user-info-panel" *ngIf="isActive('data')">
        <form #updateForm="ngForm" (ngSubmit)="onFormSubmit(updateForm)">
          <div class = "field">
            <p> Nombre de usuario</p>
            <input type="text" name="username" #username="ngModel" [(ngModel)]="user.username" id="username-field" class="form-control" placeholder="Nombre de usuario">
          </div>
          <div class = "field">
            <p> Email</p>
            <input type="text" name="email" #email="ngModel" [(ngModel)]="user.email" id="email-field" class="form-control" placeholder="Email">
          </div>
          <div class = "field">
            <p> Contraseña</p>
            <div class="input-group mb-3">
              <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" id="password-field" class="form-control" placeholder="Contraseña">
              <button class="btn btn-outline-light" type="button" id="togglePasswordVisibility">
                <i class="fa-solid fa-eye"></i>
              </button>
            </div>
          </div>
          <button (click)="logOut()" type="button" id="log-out-button" class="close-button btn btn-primary me-2">Cerrar Sesión</button>
          <button (click)="deleteAccount()" type="button" id="delete-button" class="close-button btn btn-primary">Eliminar cuenta</button>
          <div class="save-buttons">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="index.html">
              <button type="button" class="btn btn-primary cancel-button">Cancelar</button>
            </a>
          </div>
        </form>
      </div>
      <div id="teams-panel" [ngClass]="{ 'active': isActive('teams') }">
        <h1>Mis Equipos</h1>
        <div class="team-cards">
          <div *ngFor="let team of teams" class="card team-card">
            <h4>{{ team.name }}</h4>
            <img [src]=team.image width="50" height="50" />
          </div>
        </div>
        <button
          class="create-team-btn"
          (click)="goToCreateTeam()">
          Crear Equipo
        </button>
      </div>

      <div id="tournaments-panel" [ngClass]="{ 'active': isActive('tournaments') }">
        <h1>Mis Torneos</h1>
        <div class="tournament-cards">
          <div *ngFor="let tournament of tournaments" class="card tournament-card">
            <h4>{{ tournament.name }}</h4>
            <img [src]=tournament.image width="50" height="50" />
          </div>
        </div>
      </div>

      <div id="matches-panel" [ngClass]="{ 'active': isActive('matches') }">
        <h1>Mis Partidos</h1>
        <div class="match-cards">
          <div *ngFor="let match of matches" class="card match-card">
            <h4>{{ match.name }}</h4>
            <p><strong>Fecha:</strong> {{ match.date | date }}</p>
            <p><strong>Estado:</strong> {{ match.estadoPartido[0] }}  {{ match.estadoPartido[1] }} - {{ match.estadoPartido[2] }}</p>
            <img [src]=match.image width="50" height="50" />
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
