<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card Template</title>
  <link rel="stylesheet" href="../css/card.css">
</head>
<body>
<div class="card h-100">
  <div class="card-body">
    <img id="image" src="../../../assets/images/default-featured-image.jpg" class="card-img-top" alt="Portada del torneo">
    <h4 id="title" class="card-title"></h4>
    <p id="description" class="card-text"></p>
    <a id="more-info-btn"class="btn btn-primary">Más información</a>
  </div>
</div>
</body>
</html>
