<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Panel</title>
    <link rel="stylesheet" href="../css%20files/userPanel.css">
</head>
<body>
<div class="container">
    <div class="profile-header">
        <img src="" alt="Usuario" class="profile-img">
        <span>Username</span>
    </div>

    <div class="main">
        <div class="sidebar">
            <ul>
                <li><a href="#" class="active">Datos personales</a></li>
                <li><a href="#">Mis equipos</a></li>
                <li><a href="#">Mis Estadísticas</a></li>
                <li><a href="#">Torneos</a></li>
                <li><a href="#">Partidos</a></li>
            </ul>
        </div>

        <div class="content">
            <h2>Panel de Usuario</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget lobortis mi.
                Praesent nec pellentesque nibh, in porta turpis. Suspendisse laoreet sit amet
                neque sit amet gravida. Aliquam nulla ex, ultrices in molestie eu, bibendum in erat.</p>
        </div>
    </div>
</div>
</body>
</html>
