.card-container {
    margin-top: 20px;
}


.tournament-cards, .match-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
    padding: 15px 0;
}

.card-container-title {
    display: flex;
    background-color: #00C02C;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.card-container-title-left{
    margin-left: 15px;
    font-weight: bold;
    font-size: 20px;
}

.card-container-title-right {
    margin-right: 15px;
    font-size: 12px;
    color: white;
    text-decoration: none;
}

.card-container-title-right:hover {
    color: #7FFF7F;
    cursor: pointer;
}
