
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.info-container {
    width: 75%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1em;
    margin: 0 auto;
    overflow: hidden;
}

.info-header {
    display: flex;
    background: #00C02C;
    border: solid black 1px;
    color: white;
    padding: 30px;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
}



.info-data {
    flex: 1;
    margin-left: 30px;
    font-size: 1.5rem;
}

.info-body {
    margin-top: 30px;
    font-size: 1.5rem;
}

.info-body h2 {
    font-size: 2rem;
}

.info-footer {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
}

.organizador {
    display: flex;
    align-items: center;
}

.organizador img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.btn-unirse {
    background: #007bff;
    color: white;
    border: none;
    padding: 20px 30px;
    border-radius: 8px;
    font-size: 1.5rem;
    cursor: pointer;
}

.btn-unirse:hover {
    background: #0056b3;
}
