.card-container-bottom{
  margin-bottom: 3rem;
}

.tournament-cards, .matches-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  padding: 15px 0;
}

.card-container-title {
  display: flex;
  background-color: #00C02C;
  color: white;
  justify-content: space-between;
  align-items: center;
}

.card-container-title-left{
  margin-left: 1.5em;
  font-weight: bold;
  font-size: 2em;
}

.card-container-title-right {
  margin-right: 1.5em;
  font-size: 1em;
  color: white;
  text-decoration: none;
}

.card-container-title-right:hover {
  color: #7FFF7F;
  cursor: pointer;
}
