<main>
  <div class="torneo-container">
    <div class="torneo-info" *ngIf="tournaments.length">
      <div class="torneo-detalle">
        <img [src]="tournaments[0]?.image || 'default_image_url'" alt="Imagen del torneo">
        <h2>{{ tournaments[0]?.name || 'Nombre del Torneo' }}</h2>
        <p>Organizado por: {{ tournaments[0]?.organizer || 'Organizador desconocido' }}</p>
      </div>
    </div>

    <div class="partidos-container">
      <section class="partidos-section">
        <h3>Últimos partidos</h3>
        <div class="partidos">
          <div *ngFor="let match of lastMatches" class="match-card fondo-verde" (click)="goToMatch(match.id)">
            <div class="text-light-date">{{ match.date }} - {{ match.hour }}</div>
            <div class="teams">
              <div class="team">
                <img [src]="getTeamImage(match.participants[0])">
                <p>{{ getTeamName(match.participants[0]) }}</p>
              </div>
              <div class="team">
                <img [src]="getTeamImage(match.participants[1])">
                <p>{{ getTeamName(match.participants[1]) }}</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="partidos-section">
        <h3>Próximos partidos</h3>
        <div class="partidos">
          <div *ngFor="let match of upcomingMatches" class="match-card fondo-verde" (click)="goToMatch(match.id)">
            <div class="text-light-date">{{ match.date }} - {{ match.hour }}</div>
            <div class="teams">
              <div class="team">
                <img [src]="getTeamImage(match.participants[0])">
                <p>{{ getTeamName(match.participants[0]) }}</p>
              </div>
              <div class="team">
                <img [src]="getTeamImage(match.participants[1])">
                <p>{{ getTeamName(match.participants[1]) }}</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>
