<div class="torneo-container" *ngIf="currentTournament">
  <div class="torneo-info">
    <img [src]="currentTournament.image || 'default_image_url'" alt="Imagen del torneo">

    <h2>{{ currentTournament.name || 'Nombre del Torneo' }}</h2>
    <p><strong>Organizado por:</strong> {{ currentTournament.organizer || 'Organizador desconocido' }}</p>
    <p><strong>Descripción:</strong> {{ currentTournament.description || 'Sin descripción disponible' }}</p>
    <p><strong>Fecha:</strong> {{ currentTournament.date || 'Por confirmar' }}</p>
    <p><strong>Localización:</strong> {{ currentTournament.place || 'Localización desconocida' }}</p>
    <p><strong>Premio:</strong> {{ currentTournament.prize_pool || 'Sin premio especificado' }}</p>

  </div>

  <div class="partidos-container">
    <div class="partidos-section">
      <h3>Últimos partidos</h3>
      <div class="partidos" *ngIf="lastMatches.length > 0; else noLastMatches">
        <div class="fondo-verde" *ngFor="let match of lastMatches" (click)="goToMatch(match.id)">
          <div>
            <img [src]="getTeamImage(match.teams[0])" width="50" height="50" alt="Team A" />
            <strong>{{ getTeamName(match.teams[0]) }}</strong>
            vs
            <img [src]="getTeamImage(match.teams[1])" width="50" height="50" alt="Team B" />
            <strong>{{ getTeamName(match.teams[1]) }}</strong>
          </div>
          <p>{{ match.date }}</p>
        </div>
      </div>
      <ng-template #noLastMatches>
        <p>No hay últimos partidos disponibles.</p>
      </ng-template>
    </div>

    <div class="partidos-section">
      <h3>Próximos partidos</h3>
      <div class="partidos" *ngIf="upcomingMatches.length > 0; else noUpcomingMatches">
        <div class="fondo-verde" *ngFor="let match of upcomingMatches" (click)="goToMatch(match.id)">
          <div>
            <img [src]="getTeamImage(match.teams[0])" width="50" height="50" alt="Team A" />
            <strong>{{ getTeamName(match.teams[0]) }}</strong>
            vs
            <img [src]="getTeamImage(match.teams[1])" width="50" height="50" alt="Team B" />
            <strong>{{ getTeamName(match.teams[1]) }}</strong>
          </div>
          <p>{{ match.date }}</p>
        </div>
      </div>
      <ng-template #noUpcomingMatches>
        <p>No hay próximos partidos disponibles.</p>
      </ng-template>
    </div>
    <button
      class="create-match-btn"
      (click)="goToCreateMatch()"
      [disabled]="!isOrganizer()">
      Crear Partido
    </button>

  </div>
</div>

<div *ngIf="!currentTournament">
  <p>Cargando torneo...</p>
</div>
