.torneo-container {
  background-color: #00C02C;
  padding: 50px;
  border-radius: 10px;
  margin: 150px 100px;
  display: flex;
  flex-direction: column;
}

.partidos-section .partidos {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.torneo-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.torneo-info h1 {
  font-size: 22px;
  text-align: center;
}

.torneo-info h2 {
  font-size: 18px;
  text-align: center;
}

.torneo-info .torneo-logo img {
  width: 20%;
  height: auto;
  align-content: center;
}

.torneo-info .torneo-logo {
  text-align: center;
  align-content: center;
  margin: auto;
}

.partidos-container {
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

.partidos-section {
  width: 100%;
  text-align: left;
}

.partidos-section h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5%;
  text-align: center;
  padding: 2%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

/* Fondo verde para cada partido */
.fondo-verde {
  background-color: #008C1C;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px; /* Espacio entre los partidos */
  cursor: pointer; /* Cambio del puntero al pasar sobre el partido */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrado vertical */
  align-items: center; /* Centrado horizontal */
  height: 150px; /* Altura pequeña */
  width: 100%; /* Asegura que ocupen el 100% del ancho del contenedor */
  max-width: 300px; /* Limita el tamaño a un máximo de 300px de ancho */
}

/* MATCHES */
.partidos {
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.teams {
  display: flex;
  justify-content: center; /* Centra los equipos horizontalmente */
  align-items: center; /* Centra los equipos verticalmente */
  gap: 40px; /* Espacio más grande entre los equipos */
  width: 100%;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team img {
  width: 75px;
  height: 75px;
  object-fit: cover;
}

.torneo-detalle img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.team p {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Marcador */
.marcador {
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #333;
  border-radius: 5px;
}

/* Media query para dispositivos pequeños */
@media (max-width: 992px) {
  .torneo-container {
    padding: 10%;
    margin: 30% 5%;
  }

  .partidos-container {
    flex-direction: column;
    align-items: center;
  }

  .partidos-section {
    width: 90%;
  }

  .partidos-section .partidos {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
