<main class="main">
  <div class="card-container">
    <div class="card-container-title">
      <span class="card-container-title-left">Torneos disponibles</span>
      <a class="card-container-title-right" routerLink="/all-tournaments">Ver todos</a>
    </div>
    <div class="tournament-cards">
    </div>
  </div>

  <div class="card-container card-container-bottom">
    <div class="card-container-title">
      <span class="card-container-title-left">Partidos disponibles</span>
      <a class="card-container-title-right" routerLink="/all-matches">Ver todos</a>
    </div>
    <div class="matches-cards">

    </div>
  </div>
</main>
