<main *ngIf="match && teamOne && teamTwo">
  <div class="match-container">
    <h1>{{ match.name }}</h1>

    <img [src]="match.image" alt="Match image" class="match-image" />

    <div class="match-details-grid">
      <div><strong>Fecha:</strong> {{ match.date }} a las {{ match.hour }}</div>
      <div><strong>Lugar:</strong> {{ match.place }}</div>
      <div><strong>Descripción:</strong> {{ match.description }}</div>
      <div><strong>Organizador:</strong> {{ match.organizer }}</div>
      <div><strong>Precio de entrada:</strong> {{ match.entry_tax }}</div>
      <div><strong>Premio:</strong> {{ match.prize_pool }}</div>
    </div>

    <div class="teams">
      <div class="team">
        <h3>{{ teamOne.name }}</h3>
        <img [src]="teamOne.image" alt="Team one logo" />
        <ul>
          <li *ngFor="let player of teamOne.participants">{{ player }}</li>
        </ul>
      </div>

      <div class="team">
        <h3>{{ teamTwo.name }}</h3>
        <img [src]="teamTwo.image" alt="Team two logo" />
        <ul>
          <li *ngFor="let player of teamTwo.participants">{{ player }}</li>
        </ul>
      </div>
    </div>
  </div>
</main>
