<main *ngIf="match && !loading; else loadingOrError">
  <div class="match-container">
    <h1>{{ match.name }}</h1>

    <img *ngIf="match.image" [src]="match.image" alt="Imagen del partido" class="match-image" />

    <div class="match-details-grid">
      <div><strong>Fecha:</strong> {{ match.date }} a las {{ match.hour }}</div>
      <div><strong>Lugar:</strong> {{ match.place }}</div>
      <div><strong>Descripción:</strong> {{ match.description }}</div>
      <div><strong>Organizador:</strong> {{ match.organizer }}</div>
      <div><strong>Precio de entrada:</strong> {{ match.entry_tax }}</div>
      <div><strong>Premio:</strong> {{ match.prize_pool }}</div>
    </div>
  </div>
</main>

<ng-template #loadingOrError>
  <div *ngIf="loading">Cargando partido...</div>
  <div *ngIf="error">{{ error }}</div>
</ng-template>
