.container {
    max-width: 600px;
    background-color: #00C02C;
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto;
    border: 1px solid black;
    color: black;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input {
    border: black solid 1px;
    padding: 10px;
}

.shield-input{
    background-color: whitesmoke;

}

.team-shield{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}